html{
	text-align:center;
}

body{
	background:pink;
	font-family:Helvetica;
	color: purple;
}
/*@media(min-width:768px){
	#wrapper{
		display:flex;
		justify-content:center;
	}
}
*/
.row{
	justify-content: space-between;
}
#picdiv{
	border:1px #ccc solid;
	padding: 5px;
}

#textdiv{
	border:1px #ccc solid;
	padding: 5px;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}
