html{
	text-align:center;
}

body{
	background:pink;
	font-family:Helvetica;
	color: purple;
}
/*@media(min-width:768px){
	#wrapper{
		display:flex;
		justify-content:center;
	}
}
*/
.row{
	justify-content: space-between;
}
.categories{
	border:1px #ccc solid;
	padding: 5px;
}

.shadow{
	text-shadow: 1px 1px;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.removeBulletPoints {
	list-style-type: none;
	margin: 0;
	padding: 0;
}